.Python
venv/
.venv
__pycache__/
env/

alembic.ini
alembic/

env.py
postgres/
base.py
session.py
table.py
config.py
thoughts.txt

data/
__pycache__/
*.py[codz]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

docker-compose.override.yml
